* {
    background-color: aliceblue;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 80%;
    overflow-y: hidden;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main {
    display: flex;
    margin-bottom: 10px;
    margin-left: 100px;
}

.text-area {
    border: none;
    margin-top: 90px;
    color: #0a3871;
    text-transform: lowercase;
}

::placeholder {
    color: #0a3871;
}

.text-areafocus {
    outline: none;
    border: none;
}

.mensaje {
    background: white;
    background-image: url(img/Muñeco.png); /* Aquí está la imagen de fondo */
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 90px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    display: block; /* Asegúrate de que inicialmente esté visible */
}

.mensaje.sin-fondo {
    background-image: none; /* Esto quita la imagen de fondo */
}


.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar{
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px; 
}

.btn-desencriptar{
    background: white;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.copiar{
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 356px;
 

}

